/node_modules
/.next
/out
/build
/coverage

.env
.env.*
!.env.example

/src/assets/images/*

!/src/assets/images/atrium_beauty_logo_black_1753554275967.png
!/src/assets/images/atrium_beauty_logo_white_1753554275967.png
!/src/assets/images/image_not_available.png
!/src/assets/images/no_user_image.png

/public/uploads/*
!/public/uploads/.gitkeep

/src/generated/prisma
*.tsbuildinfo
next-env.d.ts

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

*.pem
*.key
*.p12
*.pfx
*.sql
*.dump
*.bak

.DS_Store
Thumbs.db
.idea/
.vscode/